.container{
    border: 1px solid grey;
    overflow: auto;
    padding: 10px;

}
.float-image{
    float: left;
    width: 400px;
    height: 300px;
    margin-right: 15px;
}
.footer{
    clear: both;
    background-color: grey;
    margin-top: 20px;
    padding: 10px;
}